body {
  background-color: #000000;
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: 'SUSE', sans-serif;
  color: #9e9a9a;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fascinate Inline', cursive;
  color: #ca6622;
}

button {
  font-size: 12px; /* Adjust the font size */
  padding: 5px 10px; /* Adjust the padding */
  margin: 5px 10px;
}

button[onClick]:not(.track-icon) {
  transform: scale(0.5); /* Reduce button size by 50% */
}

button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  background-color: #ca6622; /* Change color on hover */
}

button:active {
  transform: scale(0.45); /* Slightly reduce size when clicked */
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #000000;
  margin-top: 25px;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Space between navigation links */
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ca6622;
}

.track {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.track-image {
  width: 250px;
  height: 250px;
}

.favorite-track-image {
  width: 125px; /* 50% of 250px */
  height: 125px;
}

.track-text {
  position: absolute;
  width: 250px;
  bottom: 0px;
  background-color: black;
  color: white;
  padding: 5px;
}

.track-icon {
  position: absolute;
  bottom: 100px;
  left: 100px;
  color: white;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 10px;
  opacity: 0.8;
}

.favorite-track {
  margin: 10px 0;
  font-size: 18px;
}

/* Favorites Container */
.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Pagination Controls */
.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.error-message {
  font-family: 'SUSE', sans-serif;
  color: #bb3636;
  margin-top: 10px;
}

/* Style for the logo */
.logo-container {
  position: absolute;
  top: 10px; /* Adjust the top distance */
  left: 10px; /* Adjust the left distance */
  z-index: 1000; /* Make sure it's above other elements */
}

.logo {
  font-family: 'Fascinate Inline', cursive;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.logo:hover {
  color: #ca6622; /* Hover effect for the logo */
}

.notification-message {
  font-family: 'SUSE', sans-serif;
  color: #bb3636;
  font-size: 24px;
  margin: 10px 0;
}

.cherry-background {
  background-color: #4d0404;
  padding: 20px;
}

.white-heading {
  color: #ffffff;
}

.add {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #e6ad45;
}

.remove {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #e6ad45;
}

ul.no-bullets {
  list-style-type: none;
  padding-left: 0;
}
